.playersnumber input {
  width: 3rem;
  margin: 0 1rem;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

td {
  padding: 1rem 1.5rem;
}
th {
  background-color: #607c6e;
  color: white;
  padding: 1rem;
}
tr:nth-child(even) {
  background-color: #e3ede1;
}
tr:nth-child(odd) {
  background-color: #f2e9d8;
}

h1 {
  margin: 1rem 0;
  padding: 0;
  color: #38835d;
  font-weight: normal;
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

button {
  margin: 1rem 1rem 0 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #666;
  font-size: 1rem;
}
button:hover {
  box-shadow: 0 0 6px #666;
}
button:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}
.editbutton {
  padding: 0.5rem;
}
.okbutton {
  background-color: #4fa77a;
  padding: 0.5rem 0.8rem;
  color: white;
}
.resetbutton {
  background-color: #e43a27;
  padding: 0.5rem 0.8rem;
  color: white;
}

.scorecell {
  text-align: right;
}
.scorecell input {
  width: 3rem;
}

.winnerrow {
  animation: winnerGlow 1.5s ease-out forwards;
  font-weight: bold;
}

@keyframes winnerGlow {
  0% {
    color: #e43a27;
  }
  30% {
    color: #ff7878;
  }
  100% {
    color: #e43a27;
  }
}

.hidden {
  visibility: hidden;
}

ul {
  margin: 1rem 0;
}
li {
  margin: 0.5rem 0;
  color: #38835d;
}
